.c-card {
    &__container-img {
        position: relative;
        transition: 0.2s transform ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__img {
        border-radius: 8px;
        box-shadow: 0 0 8px 0 rgb(0 0 0/40%);
    }
    &__info {
        position: absolute;
        bottom: 0;
        width: 100%;
        right: 0;
    }
    &__discount {
        padding: 5px 7px;
        background-color: var(--color-primary);
        color: var(--color-white);
        font-weight: 600;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: -3px;
    }
}
