.b-text {
    font-size: 16px;
    color: var(--color-text);
    font-family: arial, sans-serif;
    &--s {
        font-size: 13px;
    }
    &--m {
        font-size: 17px;
    }
    &--l {
        font-size: 19px;
        font-weight: 600;
    }
    &--white {
        color: var(--color-white);
    }
    &__grey-444 {
        color: var(--color-grey-444);
    }
}
